<!doctype html>
<html lang="en">

<head>
    <title>Artisan Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <main>
        <h2>Artisan Registration</h2>
        <form method="post" enctype="multipart/form-data">
            Address: <input type="text" name="address" required><br>
            Skills: <input type="text" name="skills" required><br>
            Bank/UPI Details: <input type="text" name="bank_info"><br>
            <button type="submit">Submit</button>
        </form>
    </main>
    <script src="{{ url_for('static', filename='js/product_viewer.js') }}"></script>

</body>

</html>