<!doctype html>
<html lang="en">

<head>
    <title>User Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>

<body>
    <main>
        <h2>User Registration</h2>
        <form method="post" enctype="multipart/form-data">
            Profile Picture: <input type="file" name="profile_pic" accept="image/*"><br>
            <button type="submit">Submit</button>
        </form>
    </main>
    <script src="{{ url_for('static', filename='js/product_viewer.js') }}"></script>

</body>

</html>